body {
  font-family: "Roboto", sans-serif;
  background: #FFFFFF;
  color: #212121;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

.header {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.header__contacts {
  display: none;
}
.header__pages {
  display: none;
}

.header-mobile {
  min-width: 320px;
  max-width: 1199px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-mobile__icon {
  width: 24px;
  height: 24px;
  fill: #212121;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover svg, .menu-toggle:focus svg {
  fill: #2196F3;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #FFFFFF;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu-container a {
  font-weight: 500;
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}
.menu-container__mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-container__mobile-menu li {
  margin-bottom: 32px;
}
.menu-container__link {
  display: block;
  padding: 10px;
  color: #212121;
  text-decoration: none;
  cursor: pointer;
  font-size: 40px;
  font-weight: 500;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container__link:hover, .menu-container__link:focus {
  color: #2196F3;
}
.menu-container__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  list-style: none;
  padding-left: 0px;
}
.menu-container__media a {
  color: #2196F3;
  text-decoration: none;
}
.menu-container__media li {
  list-style: none;
}
.menu-container__media li:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-container__media li:not(:first-child) {
  padding-left: 10px;
}
.menu-container__contact {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 64px;
}
.menu-container__contact a {
  text-decoration: none;
}
.menu-container__phone {
  margin-bottom: 32px;
  font-size: 34px;
}
.menu-container__phone a {
  color: #2196F3;
}
.menu-container__mail {
  font-size: 24px;
}
.menu-container__mail a {
  color: #757575;
}

.title {
  text-decoration: none;
}
.title__left {
  font-family: "Raleway", sans-serif;
  color: #2196F3;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1738;
  letter-spacing: 3%;
}
.title__right {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.383;
  letter-spacing: 3%;
}
.title__right--header {
  color: #000;
}
.title__right--footer {
  color: #FFFFFF;
}

.theme {
  display: block;
  background-color: #2F303A;
  min-width: 320px;
}
.theme__section {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/peopleonmeeting480.jpg");
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/peopleonmeeting480.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2F303A;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
}
.theme__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  font-weight: 900;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.theme__text {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;
}
.theme__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196F3;
  width: 200px;
  height: 50px;
  color: #FFFFFF;
}

.presentation {
  display: none;
}

.team {
  display: none;
}

.clients {
  display: none;
}

.footer-box {
  display: none;
}

.backdrop {
  display: none;
}/*# sourceMappingURL=main.css.map */