@use "./utils/variables" as *;
@use "./utils/common";

body {
    font-family: $overall-fonts;
    background: $brand-color-background-overall;
    color: $brand-color-font-overall;
}

h1,
h2,
h3,
p {
    margin: 0px;
}


@import "./components/header";
@import "./components/header-menu";
@import "./components/title";

.header__contacts {
    
        display: none;
}
.header__pages{
    
        display: none;
}
.main {
    
    display: none;
}

.footer-box{

        display: none;
}

.backdrop {
   
        display: none;
}

