.team {
    display: block;
    background-color: $brand-color-main-bottom-background;
    padding: 60px 15px;
    min-width: 320px;
        max-width: 1199px;
        margin: 0px auto;

    &__section {
            display: flex;
            flex-direction: column;
            background-color: $brand-color-main-bottom-background;
            align-items: center;
            
            
            & h2 {
                    font-size: 36px;
                    line-height: 1.167;
                    text-align: center;
                    letter-spacing: 0.03em;
            
                }
            
                & h3 {
                    margin-bottom: 10px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.188;
                    text-align: center;
                    letter-spacing: 0.03em;
                }
            
                & p {
                    font-size: 16px;
                    line-height: 1.188;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: $brand-color-article-p;
                }
        }
    
    
        &__box {
            display: flex;  
            height: 100%;
            flex-direction: column;
            list-style: none;
            justify-content: center;
            margin-top: 30px;
            gap: 30px;
            padding-left: 15px;
            padding-right: 15px;
        }
    
        &__list {
            display: flex;
            flex-direction: column;
            background-color: $brand-color-background-overall;
            box-shadow: $main-bottom-list-box-shadow;
            border-radius: 0px 0px 4px 4px;
        
        }
    
        &__figure {
            margin: 0;
            margin-bottom: 16px;
            & img{
                
                display: block;
                height: 100%;
                min-width: 260px;
            }
        }
    
        &__figcaption {
            margin-top: 30px;
        }
    
        &__media {
            @include common.display;
            padding-bottom: 30px;
            padding-left: 0px;
            gap: 10px;
        }
    
        &__media-list {
            display: flex;
            &:hover,
                &:focus-within {
                    --color3: #FFFFFF;
                }
        }
    
    
        &__link {
            fill: $brand-color-footer-icons-background;
            transition-property: color, fill;
            @include common.transition;
            &:hover,
                &:focus {
                    fill: $brand-color-hover;
                }
        }
    
        &__icon {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            cursor: pointer;
        }
}

@media (min-width:768px){
    .team {
        
        &__box {
            flex-wrap: wrap;
            flex-basis: calc((100% - 1 * 30px) / 2);
            flex-direction:row;
            list-style: none;
            padding-left: 0px;
            padding-right: 0px;
        }

        &__figure {
            
            & img {
                width: 354px;
                height:374px ;
            }
        }

    }
}
@media (min-width:1200px) {
.team {
        display: block;
        width: 1200px;
        
        @include common.section;
        padding-left: 0px;
        padding-right: 0px;
        
        
        &__box {
            height: 100%;
            flex-wrap: nowrap;
            justify-content: center;
            margin-top: 50px;
            gap: 30px;
            
        }
                &__section {
                    margin: 0px auto;
                    width: 1200px;
                }

        &__figure {
            margin: 0;
            margin-bottom: 16px;

            & img {

                display: block;
                height: 260px;
                width: 270px;
            }
        }
    }
}