.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include common.container;
    @include common.section;
    & h2 {
            margin-bottom: 50px;
            font-size: 36px;
        }
    
        &__box {
            display: flex;
            gap: 30px;
            padding: 0px;
        }
    
        &__list {
            display: flex;
            width: 170px;
            height: 92px;
            border: 1px solid $brand-color-main-bottom-team-list-border;
            border-radius: 4px;
            &:hover,
                &:focus-within {
                    border: 1px solid $brand-color-hover;
                    border-radius: 4px;
                    --color3: #2196F3;
                }
        }
    
        
    
        &__link {
            display: flex;
            fill: $brand-color-svg-clients;
            transition-property: color, fill;
            @include common.transition;
            &:hover,
                &:focus {
                    fill: $brand-color-hover;
                }
        }
    
       
    
        &__icon {
            padding-left: 32px;
            padding-right: 32px;
            object-fit: contain;
            max-width: 170px;
            max-height: 92px;
            cursor: pointer;
        }
}

