.domain {
    background-color: $brand-color-background;
    @include common.container;
    & h2 {
            font-size: 36px;
            line-height: 1.167;
            text-align: center;
            letter-spacing: 0.03em;
        }
    
        &__box {
            display: flex;
            list-style: none;
            margin-top: 50px;
            padding: 0px;
            justify-content: center;
            gap: 30px;
            max-height: 294px;
        }
    
        &__list {
            position: relative;
        }
    
        &__picture {
            display: block;
            max-width: 100%;
            height: auto;
        }
    
        &__label {
            @include common.display;
            height: 70px;
            width: 370px;
            position: absolute;
            bottom: 0px;
            color: $brand-color-font-overall-2;
            font-size: 14px;
            text-align: center;
            background-color: $color-main-central-img-text;
        }
}

