
$brand-color-background-overall: #FFFFFF;
$brand-color-font-overall: #212121;
$brand-color-font-overall-2:#FFFFFF;
$brand-color-hover: #2196F3;
$brand-color-hover-2:#268d19;
$brand-color-hover-filter: invert(43%) sepia(53%) saturate(1652%) hue-rotate(184deg) brightness(101%) contrast(91%);
$brand-color-background: #FFFFFF;
$brand-color-titleleft: #2196F3;
$brand-color-titleright: #000;
$brand-color-titleright-footer: #FFFFFF;
$brand-color-contact-header: #757575;
$brand-color-address-footer: #FFFFFF;
$brand-color-background-footer: #2F303A;
$brand-color-contact-footer: rgba(255, 255, 255, 0.6);
$brand-color-background-main-top: #2F303A;
$brand-color-main-top-text: #FFFFFF;
$brand-color-article-p: #757575;
$brand-color-main-button-boxshadow: rgba(0, 0, 0, 0.15);
$brand-color-main-bottom-background:#F5F4FA;
$brand-color-port-button-background:#F5F4FA;
$brand-color-port-button-hover:#FFFFFF;
$brand-color-port-button-hover-boxshadow1: rgba(0, 0, 0, 0.1);
$brand-color-port-button-hover-boxshadow2: rgba(0, 0, 0, 0.08);
$brand-color-port-button-hover-boxshadow3: rgba(0, 0, 0, 0.12);
$brand-color-port-central-border:#EEEEEE;
$brand-color-header-border:#ECECEC;
$brand-color-main-article-box-background: #F5F4FA;
$brand-color-footer-icons-background:rgba(255, 255, 255, 0.1);
$brand-color-button-mainpage:#FFFFFF;
$brand-color-main-bottom-team-list-border:#AFB1B8;
$brand-color-portfolio-central-border:1px solid #EEEEEE;
$portfolio-central-images-list-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
$main-bottom-list-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
$brand-color-svg:#757575;
$brand-color-svg-clients:#afb1b8;
$color-main-central-img-text:rgba(47, 48, 58, 0.8);
$brand-color-portfolio-central-overlay:#2196F3;
$color-modal-cross:#000000;
$color-footer-placeholder:rgba(255, 255, 255, 0.6);
$color-modal-font:#757575;
$color-modal-form-icon:#212121;
$overall-fonts:'Roboto',sans-serif;